* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: .8rem;
  font-style: italic;
}

body {
  cursor: none !important;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  min-height: calc(100vh - 50px);
  width: 100%;
  background: url("~assets/auth_bg.png");
}

footer {
  min-height: 50px;
  background: #eeb30b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 80px;
  display: flex;
  padding: 0 30px;
  align-items: center;

  img {
    position: relative;
    height: 20px;
    width: auto;
  }
}

ul.contextMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  font: 300 15px 'Roboto', sans-serif;
  position: absolute;
  color: #333;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
}

ul.contextMenu * {
  transition: color .4s, background .4s;
}

ul.contextMenu li {
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ecf0f1;
}

ul.contextMenu li a {
  color: #333;
  text-decoration: none;
}

ul.contextMenu li:hover {
  background-color: #ecf0f1;
}

ul.contextMenu li:first-child {
  border-radius: 5px 5px 0 0;
}

ul.contextMenu li:last-child {
  background: #ecf0f1;
  border-bottom: 0;
  border-radius: 0 0 5px 5px
}

ul.contextMenu li:last-child a {
  width: 26%;
}

ul.contextMenu li:last-child:hover a {
  color: #2c3e50
}

ul.contextMenu li:last-child:hover a:hover {
  color: #2980b9
}

.appear-enter {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.appear-enter-active {
  transform-origin: top left;
  transition: all .2s ease-in-out;
}

.appear-leave {
}

.appear-leave-active {
  opacity: 0;
  transition: all .2s ease-in-out;
}

.box {
  box-shadow: 0 0 4pt rgba(0, 0, 0, 0.25);
  border-radius: 20pt;
  background-color: rgba(255, 255, 255, 0.25);
  user-select: none;
  cursor: context-menu;
}
