* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: .8rem;
  font-style: italic;
  list-style-type: none;
}

body {
  cursor: none !important;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  min-height: calc(100vh - 50px);
  width: 100%;
  background: url("~assets/auth_bg.png");
}

footer {
  min-height: 50px;
  background: rgba(238, 179, 11, 0.65);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  .footer__social {
    ul{
      display: flex;
      li {
        margin-right: 20px;
      }
    }
  }
}

nav {
  height: 80px;
  display: flex;
  padding: 0 30px;
  align-items: center;

  img {
    position: relative;
    height: 20px;
    width: auto;
  }
}

.appear-enter {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.appear-enter-active {
  transform-origin: top left;
  transition: all .2s ease-in-out;
}

.appear-leave {
}

.appear-leave-active {
  opacity: 0;
  transition: all .2s ease-in-out;
}

.box {
  box-shadow: 0 0 4pt rgba(0, 0, 0, 0.25);
  border-radius: 20pt;
  background-color: rgba(255, 255, 255, 0.25);
  user-select: none;
  cursor: context-menu;
}

.v-context, .v-context ul {
  padding: 0;
  background: #eeb30b;
  li:not(:last-child) {
    border-bottom: solid 1px black;
  }
}

.cursor-fx__inner[data-v-2f69e36a] {
  z-index: 1424368;
}
